@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Nunito';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
    }

    body,html {
      @apply font-nunito bg-gradient-to-b from-[rgba(226,226,227,1)]  to-[rgba(158,217,241,1)];
      /* @apply font-nunito bg-white md:bg-gradient-to-b md:from-[rgba(226,226,227,1)]  md:to-[rgba(158,217,241,1)]; */

    }
  }